<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="appSettings"
        type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            />
  </configSections>
  <appSettings>
    <add key="Success" value="Transaction is Successful. Balance is edited." />
    <add key="TransactionRejected" value="Transaction is Rejected. Balance has not changed." />
    <add key="NotEnoughtBalance" value="Not Enough money. The balance has not changed." />
    <add key="DuplicateTransactionId" value= " Transaction ID already exists. The balance has not changed." />
    <add key="TransactionNotFound" value= "Transaction is not found. The balance has not changed." />
    <add key="TransactionAlreadyMarkedAsRollback" value= " Transaction is already marked as Rollback. The balance has not changed." />
    <add key="TransactionRollbacked" value= " Transaction is Rollbacked." />
    <add key="UnknownError" value= "Unknown Error! Unknown if balance has changed." />
  </appSettings>
</configuration>
