<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="appSettings"
        type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            />
  </configSections>
  <appSettings>
    <add key="Success" value="ტრანზაქცია წარმატებულია. ბალანსი დარედაქტირდა." />
    <add key="TransactionRejected" value="ტრანზაქცია არ გატარდა. ბალანსი არ შეიცვალა." />
    <add key="NotEnoughtBalance" value="ანგარიშზე თანხა არ არის საკმარისი. ბალანსი არ შეიცვალა." />
    <add key="DuplicateTransactionId" value= "ტრანზაქციის id უკვე არსებობს ბაზაში. ბალანსი არ შეიცვალა." />
    <add key="TransactionNotFound" value= "ტრანზაქცია არ მოიძებნა. ბალანსი არ შეიცვალა." />
    <add key="TransactionAlreadyMarkedAsRollback" value= "ეს ტრანზაქცია უკვე დაროლბექებულია. ბალანსი არ შეიცვალა." />
    <add key="TransactionRollbacked" value= "ტრანზაქცია დაროლბექებულია" />
    <add key="UnknownError" value= "გაურკვეველი შეცდომა, უცნობია ბალანსი შეიცვალა თუ არა." />
  </appSettings>
</configuration>
